<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <footer class="footer">
  <div class="footer-container">

    
    <div class="footer-col footer-brand">
      <div class="ez-brand">
        <span class="ez-logo-icon"><i class="fas fa-leaf"></i></span>

        <div class="ez-logo-text">
          <span class="ez-logo-main">EcoZip</span>
          <span class="ez-logo-sub">Adventure</span>
        </div>
      </div>

      <p class="footer-desc">
        Experience thrilling zipline adventures and eco-friendly outdoor fun.
        Perfect for families, friends, and adventure seekers.
      </p>
    </div>

    
    <div class="footer-col">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="../index/index.html">Home</a></li>
        <li><a href="../about/about.html">About</a></li>
        <li><a href="../home2/home2.html#price">Pricing</a></li>
        <li><a href="../services/services.html">Services</a></li>
        <li><a href="../contact/contact.html">Contact</a></li>
      </ul>
    </div>

    
    <div class="footer-col">
      <h3>Services</h3>
      <ul>
        <li><a href="../sdetails/servicedetails1.html">Zipline Adventure</a></li>
        <li><a href="../sdetails/servicedetails2.html">Rope & Obstacle</a></li>
        <li><a href="../sdetails/servicedetails3.html">Threlling Trekking</a></li>
        <li><a href="../sdetails/servicedetails4.html">Kids & Family</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Additionnal Pages</h3>
      <ul>
        <li><a href="../dashboard/dashboard.html">Admin Dashboard</a></li>
        <li><a href="../login/login.html">Login</a></li>
        <li><a href="../404page/404page.html">404 Page</a></li>
      </ul>
    </div>

    
    <div class="footer-col">
      <h3>Contact</h3>

      <ul class="contact">
        <li>📍 Eco Park, India</li>
        <li>📞 +91 98765 43210</li>
        <li>📧 info@ecozip.com</li>
      </ul>

      <div class="social-icons">
        <a><i class="fab fa-facebook-f"></i></a>
        <a><i class="fab fa-instagram"></i></a>
        <a><i class="fab fa-twitter"></i></a>
        <a><i class="fab fa-youtube"></i></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Eco Zip Adventure. All rights reserved.</p>
  </div>
</footer>
<script src="../js/components.js"></script>
</body>
</html>